/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-giu-2016, 15.15.49
    Author     : vincenzomigliano
*/

.input#user_login,
input#user_pass,
input#email{
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #eceeef;
    border-radius: .25rem;
}
input#wp-submit{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 4px 10px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
    display: block;
    border-radius: 5px;
    width: 100%;
}
p.login-username label,
p.login-password label
{
    display: none;
    visibility: hidden;
    opacity: 0;
}
.alignleft {
    float: left;
    margin-right: 20px;
}
.comment-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.comment-body{
    padding: .625rem;
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #eee;
}
.comment-reply-link{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 4px 10px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    color: #818a91;
    background-color: #fff;
    border-color: #eceeef;
    padding: 2px 5px;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.comment-reply-link:hover{
    text-decoration: none;
}
.avatar{
    display: none;
    visibility: hidden;
    opacity: 0;
}
ol.children {
    list-style: none;
}
textarea#comment {
    width: 100%;
    box-shadow: 0 2px 3px rgba(0,0,0,.05);
    position: relative;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-bottom: 1.25rem;
    display: block;
    padding: 20px;
}
input#submit{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 4px 10px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
    display: block;
    border-radius: 5px;
}
.marged {
    padding-top: 150px;
    padding-bottom: 120px;
}
ul.nav.navbar-nav.hidden-sm-down li a {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.36);
}
ul.nav.navbar-nav.hidden-sm-down li a:hover {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.50);
    text-decoration: none
}
ul.nav.navbar-nav.hidden-sm-down {
    float: left;
}
.media-body.media-middle small {
    color: #b7bdc2;
}
h1 {
    font-size: 1.9rem;
}
h2 {
    font-size: 1.5rem;
}
.no-richiesta{
    text-align: center;
}
.img-responsive{
    max-width: 300px !important;
    height: auto;
    width: 100%;
}
.arrow {
    top: 70px;
    left: -71px;
    margin-top: -11px;
    border-right-color: #999 !important;
    border-right-color: rgba(0, 0, 0, 0.09) !important;
    border-left-width: 0;
}
.arrow {
    z-index: 1;
}
.arrow, .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 35px;
}
.arrow:after {
    bottom: -35px;
    left: 1px;
    content: " ";
    border-right-color: #fff;
    border-left-width: 0px;
}
.card.card-stats-primary {
    border-left: 5px solid #2196F3;
}
.card.card-stats-success {
    border-left: 5px solid #66BB6A;
}
.card.card-stats-warning {
    border-left: 5px solid #FFA726;
}

.pending{
    border-left: 5px solid #FFA726 !important;
}
.resolved{
    border-left: 5px solid #66BB6A !important;
}
h2.comments-title {
    background: #f5f5f5;
    margin: 0!important;
    font-size: 1.25rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
    line-height: 1.5;
    padding: .625rem;
    color: rgba(0,0,0,.84);
}
#comments{
    box-shadow: 0 2px 3px rgba(0,0,0,.05);
    margin-bottom: 1.25rem;
    position: relative;
    background-color: transparent;
    border: 1px solid #eee;
    border-radius: 3px;
    display: block;
}
.comment-body p {
    float: left;
    width: 100%;
    margin-top: 18px;
    font-size: 90%;
}
div#respond {
    padding: 20px;
}
input#attachment {
    background: #ffffff;
    padding: 10px;
    color: #373a3c;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 3px rgba(0,0,0,.05);
    background-color: #fff;
    border: 1px solid #eee;
}
.comment-form-attachment label {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0,0,0,.05);
}
span.says {
    font-size: 80%;
    font-weight: 400;
    color: gray;
}
cite.fn a {
    font-size: 80%;
    font-weight: bold;
    font-style: normal;
}
.comment-meta.commentmetadata a {
    font-size: 80%;
    color: #b7bdc1;
    font-weight: 400;
}
li.menu-item a{
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #373a3c;
    text-align: inherit;
    background: 0 0;
    border: 0;
    display: block;
    padding: 3px 20px;
    line-height: 1.5;
    white-space: nowrap;
    border-bottom-color: transparent;
    padding: .625rem 1.25rem;
    border-bottom: 1px solid #e5e5e5;

}
li.menu-item a:hover{
    color: #2196F3;
    background: 0 0;
    text-decoration: none;
}
.tablecarter_tot{
    width: 100%
}
.cart_totals.woo_card.course_card.card {
    width: 100%;
    text-align: center;
}
.cart_totals.woo_card.course_card.card {
    background: transparent;
    border: none;
    box-shadow: none;
    margin-top: 20px;
}
input#coupon_code {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 7px;
}
.cart_totals.woo_card.course_card.card {
    width: 100%;
}
input.input-text.qty.text {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
p.woocommerce-result-count {
    float: left;
    width: 50%;
}
a.nextprev {
    position: absolute;
    top: 50%;
    padding: 9px;
    color: #fff;
    background: #2196f3;
    margin-top: -290px;
}
.lefter {
    left: 0;
}
.raiter {
    right: 0;
}
.centericons{
    margin: 0 auto;
}
span.title_req {
    display: block;
    text-align: center;
    margin: 5px 0;
    min-height: 60px;
}
.center-btnmo-r{
    text-align: center;
    font-size: 14px
}
.material-icons.mobileicon{
    font-size: 30px;
}
.centerpost{
    text-align: center;
}
.forum-thread a.forum-thread-icon.iconmon {
    width: 50px;
    height: 50px;
    line-height: 46px;
    text-align: center;
    color: #b7bdc1;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    display: block;
}
a.rounded-mobile {
    width: 70px;
    height: 70px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    background: #2196f3;
    margin: 0 auto;
    border-radius: 50%;
    color: #fff;
}
.containing-table {
    display: table;
    width: 100%;
    height: 400px; /* for demo only */
    border: 1px dotted blue;
}
.card-header.mobileheader{
    padding: 2px .625rem;
}
.centre-align {
    padding: 10px;
    border: 1px dashed gray;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.content {
    width: 50px;
    height: 50px;
    background-color: red;
    display: inline-block;
    vertical-align: top; /* Removes the extra white space below the baseline */
}
.center-btnmo {
    text-align: center;
    width: 70px;
    height: 70px;
    margin: 0px auto 15px;
}
.center-btnmo{
    text-align: center;
}
small.card-subtitle {
    padding: 30px 30px 0px 30px;
    display: inline-block;
    text-align: center;
}
p.m-b-0 {
    line-height: 1.6em;
}
[class*="bottom-footer"] .footer {
    box-shadow: 0 -3px 5px -3px rgba(0, 0, 0, 0.15);
    z-index: 101;
}
[class*="bottom-footer"] .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin: 0;
}
.nodata {
    height: 290px;
    padding-top: 39px;
    /* background: #f9f9f9; */
}
.footer {
    text-align: center;
    color: #ccc;
    font-weight: 500;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,f9f9f9+55&0+0,1+55 */
    background: -moz-linear-gradient(top,  rgba(249,249,249,0) 0%, rgba(249,249,249,1) 55%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(249,249,249,0) 0%,rgba(249,249,249,1) 55%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(249,249,249,0) 0%,rgba(249,249,249,1) 55%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f9f9f9', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */

    height: 100px;
    line-height: 22px;
    display: block;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 4;
}
footer span {
    display: block;
    margin-top: 40px;
}
select {
    height: 39px;
}
/*
* Media query smartphone
*
*----------- iPhone 4 and 4S ----------- */
/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .center-btnmo {
        text-align: center;
        width: 90px;
        height: 90px;
        margin: 0px auto 15px;
    }
}
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    a.rounded-mobile {
        width: 90px;
        height: 90px;
    }
    .center-btnmo {
        text-align: center;
        width: 90px;
        height: 90px;
        margin: 10px auto 25px;
    }
}
/* ----------- iPhone 6 ----------- */
/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
    a.rounded-mobile {
        width: 90px;
        height: 90px;
    }
    .center-btnmo {
        text-align: center;
        width: 90px;
        height: 90px;
        margin: 20px auto 35px;
    }
    .forum-thread a.forum-thread-icon.iconmon {
        width: 70px;
        height: 70px;
        line-height: 63px;

    }
    .material-icons.mobileicon {
        font-size: 40px;
    }
}
/* ----------- iPhone 6+ ----------- */
/* Portrait */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
    a.rounded-mobile {
        width: 100px;
        height: 100px;
    }
    .center-btnmo {
        text-align: center;
        width: 100px;
        height: 100px;
        margin: 20px auto 35px;
    }
    .center-btnmo-r {
        text-align: center;
        font-size: 15px;
        margin-top: 0px;
    }
    .card-header.mobileheader {
        padding: 9px .625rem;
    }
    .forum-thread a.forum-thread-icon.iconmon {
        width: 70px;
        height: 70px;
        line-height: 63px;
    }
    .material-icons.mobileicon {
        font-size: 40px;
    }
}

@media(min-width: 768px){

    .comment-meta.commentmetadata {
        width: 50%;
        text-align: right;
        float: left;
    }
    .comment-author.vcard {
        width: 50%;
        float: left;
    }
}
@media(max-width: 768px){
    .card .card-button-wrapper {
        position: relative;
        float: left;
        width: 100%;
        padding: 15px 10px 10px 10px;
        right: 0;
        top: 0;
    }
    .btn.btn-warning.btn-sm.imo,
    .btn.btn-success.disabled.btn-sm.imo,
    a.btn.btn-danger.btn-rounded.btn-sm.imo {
        width: 100%;
    }
    .marged {
        padding-top: 70px;
    }
    .arrow {
        top: -58px;
        left: 50%;
        margin-left: -34px;
        border-right-color: transparent !important;
        border-bottom-color: rgba(0, 0, 0, 0.09) !important;
        border-left-width: 0;
    }
    .arrow {
        z-index: 1;
    }
    .arrow, .arrow:after {
        position: relative;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 35px;
    }
    .arrow:after {
        bottom: -1px;
        left: -35px;
        content: " ";
        border-bottom-color: #fff;
        border-top-width: 0px;
    }
}