## AUTHENTICATION ################################################

AuthType Basic
AuthName "Private Area"
AuthUserFile /www_users/_vincenzo/_app/YWRtaW4/.htpasswd
require valid-user
##ABILITARE IN PRODUZIONE - RICHIEDE PWD SOLO SU admin.beparade.com
#
#
#SetEnvIf Host admin.beparade.com admin_site
#Order Allow,Deny
#Allow from all
#Deny from env=admin_site
#Satisfy Any
#
#
##########################################

DirectoryIndex app_dev.php
#DirectoryIndex app.php

##################################################################

############### .htaccess e .htpasswd Protection #################

<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>

##################################################################

################ HEADER Expires Control ##########################

ExpiresActive On

#cache images for 1 month, do not require revalidation
<FilesMatch "\.(gif|jpeg|png|flv|swf|ico|jpg)$">
   Header set Cache-Control: "public,max-age=1296000"
   Header set Expires: "Wed, 31 Jan 2040 05:00:00 GMT"
</FilesMatch>

# cache scripts, css, and documents for 1 week, do not require revalidation
<FilesMatch "\.(js|css|pdf)$">
   Header set Cache-Control: "max-age=604800"
</FilesMatch>

# Cache txt, html, and htm pages for 1 week, require revalidation
<FilesMatch "\.(txt|html?)$">
   Header set Cache-Control: "max-age=604800, must-revalidate"
</FilesMatch>

# disable caching for dynamic files
<FilesMatch "\.(pl|php|[sf]?cgi|spl)$">
   Header set Cache-Control: "max-age=0, no-store"
</FilesMatch>


#################################################################

################## GZip Files ###################################

SetOutputFilter DEFLATE
AddOutputFilter DEFLATE text/plain
AddOutputFilter DEFLATE text/html
AddOutputFilter DEFLATE text/xml
AddOutputFilter DEFLATE text/css
AddOutputFilter DEFLATE application/xml
AddOutputFilter DEFLATE application/xhtml+xml
AddOutputFilter DEFLATE application/rss+xml
AddOutputFilter DEFLATE application/javascript
AddOutputFilter DEFLATE application/x-javascript
AddOutputFilter DEFLATE application/x-httpd-php
AddOutputFilter DEFLATE application/x-httpd-fastphp
AddOutputFilter DEFLATE image/svg+xml
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4.0[678] no-gzip
BrowserMatch bMSIE !no-gzip !gzip-only-text/html
SetEnvIf User-Agent ".*MSIE.*" nokeepalive ssl-unclean-shutdown downgrade-1.0 force-response-1.0

#Evita compressione immagini
SetEnvIfNoCase Request_URI \\.(?:gif|jpe?g|png)$ no-gzip dont-vary


#PAGES ERROR HTTP ******************************************************************************************************

ErrorDocument 400 /apache/httpstatus/show/400
ErrorDocument 403 /apache/httpstatus/show/403
ErrorDocument 404 /apache/httpstatus/show/404
ErrorDocument 500 /apache/httpstatus/show/500

################ REWRITE RULE ##########################################################################################


DirectoryIndex app_dev.php
#DirectoryIndex app.php


RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .* - [S=100]


#PICTURES  *************************************************************************************************************

RewriteRule ^pictures/(.*)$         var/pictures/$1                [L,QSA]

#REWRITERULE STYLESHEET  ***********************************************************************************************

#default TEMPLATE

RewriteRule ^favicon\.ico$   user/web-default/resources/public/images/favico.ico [L,QSA]
RewriteRule ^js/(.*)$        user/web-default/resources/public/js/$1             [L,QSA]
RewriteRule ^flash/(.*)$     user/web-default/resources/public/flash/$1          [L,QSA]
RewriteRule ^img/(.*)$       user/web-default/resources/public/img/$1            [L,QSA]
RewriteRule ^fonts/(.*)$     user/web-default/resources/public/fonts/$1          [L,QSA]
RewriteRule ^image/(.*)$     user/web-default/resources/public/image/$1          [L,QSA]
RewriteRule ^img/(.*)$       user/web-default/resources/public/img/$1            [L,QSA]
RewriteRule ^images/(.*)$    user/web-default/resources/public/images/$1         [L,QSA]
RewriteRule ^css/(.*)$       user/web-default/resources/public/css/$1            [L,QSA]

#Template custom TEMPLATE

RewriteRule ^([A-Za-z-\_]+)/favicon\.ico$   user/$1/resources/public/images/favico.ico  [L,QSA]
RewriteRule ^([A-Za-z-\_]+)/js/(.*)$        user/$1/resources/public/js/$2              [L,QSA]
RewriteRule ^([A-Za-z-\_]+)/flash/(.*)$     user/$1/resources/public/flash/$2           [L,QSA]
RewriteRule ^([A-Za-z-\_]+)/fonts/(.*)$     user/$1/resources/public/fonts/$2           [L,QSA]
RewriteRule ^([A-Za-z-\_]+)/img/(.*)$       user/$1/resources/public/img/$2             [L,QSA]
RewriteRule ^([A-Za-z-\_]+)/image/(.*)$     user/$1/resources/public/img/$2             [L,QSA]
RewriteRule ^([A-Za-z-\_]+)/images/(.*)$    user/$1/resources/public/images/$2          [L,QSA]
RewriteRule ^([A-Za-z-\_]+)/css/(.*)$       user/$1/resources/public/css/$2             [L,QSA]

#FRONT CONTROLLER
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d [OR]

#[DEV]
RewriteCond $1 !^(app_dev\.php|index\.php|images|robots\.txt)
RewriteRule ^(.*)$ /app_dev.php/$1 [L]

#[PROD]
#RewriteCond $1 !^(app\.php|index\.php|images|robots\.txt)
#RewriteRule ^(.*)$ /app.php/$1 [L]
